.sidebar {
    border-right: 0.15px solid rgb(53, 64, 80);
    flex: 0.1;
    min-width: 250px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    position: sticky;
}

.sidebar__twitterIcon {
    color: white;
    font-size: 35px !important;
    margin-left: 20px;
    margin-bottom: 20px;
}


.sidebar__tweet {
    background-color: var(--twitter-color) !important;
    border: none !important;
    color: white !important;
    font-weight: 800 !important;
    text-transform: inherit !important;
    border-radius: 75px !important;
    height: 50px !important;
    margin-top: 20px !important;
}
