.widgets {
    flex: 0.3;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 20px;
    border-left: 0.15px solid rgb(53, 64, 80);  
    overflow-y: scroll; 
}

/* Hide scrollbar for Chrome, Safari & Opera */
.widgets::-webkit-scrollbar {
  display: none;
}

.widgets {
  -ms-overflow-style: none; /*IE & Edge */
  scrollbar-width: none;  /* Firefox */
}
  
  .widgets_input {
    display: flex;
    align-items: center;
    background-color: var(--twitter-background);
    padding: 10px;
    border-radius: 20px;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 20px;
    z-index: 100;
    top: 0;
    border: 1px solid rgb(53, 64, 80);
  }
  
  .widgets_input > input {
    border: none;
    color: white;
    background-color: var(--twitter-background);
  }
  
  .widgets_searchIcon {
    color: white;
  }
  
  .widgets_widgetContainer {
    margin-top: 15px;
    margin-left: 20px;
    padding: 20px;
    background-color:var(--twitter-background);
    border-radius: 20px;
  }
  
  .widgets__widgetContainer > h2 {
    font-size: 18px;
    font-weight: 800;
  }